<appSettings>
	<add key="TestUserWindowsId" value="americas\websterj"/>
	<add key="SourceRootPath" value="C:\Dev\svn\alpha\dev\ElementsCPS\trunk\Source\"/>
	<add key="AppRootUrl" value="http://localhost/ElementsCPS/WebUI/"/>
	<add key="AppRootPath" value="C:\Dev\svn\alpha\dev\ElementsCPS\trunk\Source\Production\WebRoot\"/>
	<add key="DBScriptPath" value="C:\Dev\svn\alpha\dev\ElementsCPS\trunk\Source\Production\DB\ElementsCPSDB\Scripts\"/>

	<!--<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.InternalLdapServer" value="ldap.hp.com:389"/>-->
	<!--<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapServer" value="ldap.extranet.hp.com:636"/>-->
	<!--<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapLogin" value="cn=PSGQC,ou=Applications,o=hp.com"/>-->
	<!--<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapPassword" value="%Triplecrown000"/>-->

    <add key="redirectClientSystemIdValidation" value=""/>
    <add key="redirectServiceUrlValidation" value=""/>
    <add key="redirectAppNameValidation" value=""/>

    <add key="redirectClientSystemIdPublication" value=""/>
    <add key="redirectServiceUrlPublication" value=""/>
    <add key="redirectAppNamePublication" value=""/>

    <add key="configurationServiceClientSystemIdValidation" value=""/>
    <add key="configurationServiceServiceUrlValidation" value=""/>
    <add key="configurationServiceAppNameValidation" value=""/>

    <add key="configurationServiceClientSystemIdPublication" value=""/>
    <add key="configurationServiceServiceUrlPublication" value=""/>
    <add key="configurationServiceAppNamePublication" value=""/>
</appSettings>
