<appSettings>
	<add key="TestUserWindowsId" value="americas\mukaimur"/>
	<add key="SourceRootPath" value="C:\svn\alpha\dev\ElementsCPS\trunk\Source\"/>
	<add key="AppRootUrl" value="http://localhost/ElementsCPS/WebUI/"/>
	<add key="AppRootPath" value="C:\svn\alpha\dev\ElementsCPS\trunk\Source\Production\WebRoot\"/>
	<add key="DBScriptPath" value="C:\svn\alpha\dev\ElementsCPS\trunk\Source\Production\DB\ElementsCPSDB\Scripts\"/>

	<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.InternalLdapServer" value="ldap.hp.com:389"/>
	<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapServer" value="ldap.extranet.hp.com:636"/>
	<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapLogin" value="cn=PSGQC,ou=Applications,o=hp.com"/>
	<add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapPassword" value="%Triplecrown000"/>

  <add key="redirectClientSystemIdValidation" value=""/>
  <add key="redirectServiceUrlValidation" value=""/>
  <add key="redirectAppNameValidation" value=""/>

  <add key="redirectClientSystemIdPublication" value=""/>
  <add key="redirectServiceUrlPublication" value=""/>
  <add key="redirectAppNamePublication" value=""/>

  <add key="configurationServiceClientSystemIdValidation" value="CFG_SERVICE_DVS_001"/>
  <add key="configurationServiceServiceUrlValidation" value="http://16.230.32.14:50039/dps/dataPublishingService"/>
  <add key="configurationServiceAppNameValidation" value="CONFIG_SERVICE"/>

  <add key="configurationServiceClientSystemIdPublication" value="CFG_SERVICE_DEV_001"/>
  <add key="configurationServiceServiceUrlPublication" value=" http://16.230.32.14:50038/dps/dataPublishingService"/>
  <add key="configurationServiceAppNamePublication" value="CONFIG_SERVICE"/>

  <add key="workflowModuleUrlValidation" value="http://hp.com"/>
  <add key="workflowMainUrlValidation" value="http://hp.com"/>
  <add key="workflowClientSystemIdValidation" value="REACH_IVS_001"/>
  <add key="workflowServiceUrlValidation" value="http://jerro1.americas.cpqcorp.net:50039/dps/dataPublishingService"/>
  <add key="workflowAppNameValidation" value="REACH"/>

  <add key="workflowModuleUrlPublication" value="http://hp.com"/>
  <add key="workflowMainUrlPublication" value="http://hp.com"/>
  <add key="workflowClientSystemIdPublication" value="REACH_IVS_001"/>
  <add key="workflowServiceUrlPublication" value="http://jerro1.americas.cpqcorp.net:50039/dps/dataPublishingService"/>
  <add key="workflowAppNamePublication" value="REACH"/>
</appSettings>
