<appSettings>
  <!--<add key="EnableClientAccess.ExceptionDetails" value="true" />-->
  <add key="ElementsCPS.Data.WebAppRootUrl" value="http://g2w0709g.austin.hp.com/ElementsCPS/WebUI/"/>

  <add key="ElementsCPS.Core.MailMessageSender.EmailFrom" value="smtp1.hp.com"/>
  <add key="ElementsCPS.Core.MailMessageSender.EmailReplyTo" value="ElementsCPS-noreply@hp.com"/>
  <add key="ElementsCPS.Core.MailMessageSender.EmailFrom" value="ElementsCPS.PROD@hp.com"/>
  <!--<add key="ElementsCPS.Core.MailMessageSender.Debug.RedirectAllMessagesTo" value="nobody@hp.com"/>-->
  <!--<add key="ElementsCPS.Core.MailMessageSender.EmailArchiveBcc" value="ElementsCPS.archive@hp.com"/>-->

  <!--Configures the page size of the "paginated Export queries" executed when constructing Export files-->
  <add key="HP.ElementsCPS.WebUI.ExportFileMaxPageSize" value="1000"/>
  <!--Limits the total number of items included in Export files-->
  <add key="HP.ElementsCPS.WebUI.ExportFileMaxRowCount" value="100000"/>

  <!--Sets the maximum cache time for items with a "default" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Default" value="00:05:00"/>
  <!--Sets the maximum cache time for items with a "very short" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.VeryShort" value="00:00:01"/>
  <!--Sets the maximum cache time for items with a "short" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Short" value="00:00:05"/>
  <!--Sets the maximum cache time for items with a "Long" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Long" value="00:15:00"/>

  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.InternalLdapServer" value="ldap.hp.com:389"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapServer" value="ldap.extranet.hp.com:636"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapLogin" value="cn=PSGQC,ou=Applications,o=hp.com"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapPassword" value="%Triplecrown000"/>

  <add key="redirectClientSystemIdValidation" value="F75$h4943_D389z45"/>
  <add key="redirectServiceUrlValidation" value="http://stg-dps.rssx.hp.com/dps/dataPublishingService"/>
  <add key="redirectAppNameValidation" value="REDIRECT"/>

  <add key="redirectClientSystemIdPublication" value="824Ha0CN6Q7ZNCbx"/>
  <add key="redirectServiceUrlPublication" value="http://dps.rssx.hp.com/dps/dataPublishingService"/>
  <add key="redirectAppNamePublication" value="REDIRECT"/>

  <add key="configurationServiceClientSystemIdValidation" value="85G69JmKX32!91J9$5"/>
  <add key="configurationServiceServiceUrlValidation" value="http://stg-dps.rssx.hp.com/dps/ElementsDataPublishingService"/>
  <add key="configurationServiceAppNameValidation" value="CONFIG_SERVICE"/>
  <add key="configurationServiceCheckUrlValidation" value="http://stg-cs.rssx.hp.com/config-service/validate?config_group_id={0}"/>
  <add key="configurationServiceTrackingServerDomainValidation" value="http://stg-cs.rssx.hp.com"/>

  <add key="configurationServiceClientSystemIdPublication" value="Xm304-97V!N34k31P"/>
  <add key="configurationServiceServiceUrlPublication" value="http://dps.rssx.hp.com/dps/ElementsDataPublishingService"/>
  <add key="configurationServiceAppNamePublication" value="CONFIG_SERVICE"/>
  <add key="configurationServiceCheckUrlPublication" value="http://cs.rssx.hp.com/config-service/validate?config_group_id={0}"/>
  <add key="configurationServiceTrackingServerDomainPublication" value="http://cs.rssx.hp.com"/>

  <!--Creating a new Configuration Service Group will create a default group selector using this name (20 character max)-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.Name" value="Default"/>
  <!--Creating a new Configuration Service Group will create a default group selector using this description-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.Description" value="Default Wildcard Values"/>
  <!--Creating a new Configuration Service Group will use this query parameter name as the default value (empty value will not add a default group selector)-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.QueryParameterValueName" value="*"/>

  <add key="jumpstationClientSystemIdValidation" value="V-3N402n45V#TG36dD"/>
  <add key="jumpstationServiceUrlValidation" value="http://stg-dps.rssx.hp.com/dps/ElementsDataPublishingService"/>
  <add key="jumpstationAppNameValidation" value="JUMPSTATION"/>

  <add key="jumpstationClientSystemIdPublication" value="n66Zv-213B52_1SW4"/>
  <add key="jumpstationServiceUrlPublication" value="http://dps.rssx.hp.com/dps/ElementsDataPublishingService"/>
  <add key="jumpstationAppNamePublication" value="JUMPSTATION"/>

  <add key="workflowModuleUrlValidation" value="http://h20620.www2.hp.com/newbee/modules"/>
  <add key="workflowMainUrlValidation" value="http://h20620.www2.hp.com/newbee/main"/>
  <add key="workflowClientSystemIdValidation" value="09uL84_38X52!49t8H"/>
  <add key="workflowServiceUrlValidation" value="http://stg-dps.rssx.hp.com/dps/ElementsDataPublishingService"/>
  <add key="workflowCheckUrlValidation" value="http://stg-reach.rssx.hp.com/reach/Workflow/{0}"/>
  <add key="workflowModuleCheckUrlValidation" value="http://stg-reach.rssx.hp.com/reach/Module/{0}"/>
  <add key="workflowAppNameValidation" value="REACH"/>

  <add key="workflowModuleUrlPublication" value="http://h20620.www2.hp.com/newbee/modules"/>
  <add key="workflowMainUrlPublication" value="http://h20620.www2.hp.com/newbee/main"/>
  <add key="workflowClientSystemIdPublication" value="5z0#V4D802WCV17$1"/>
  <add key="workflowServiceUrlPublication" value="http://dps.rssx.hp.com/dps/ElementsDataPublishingService"/>
  <add key="workflowCheckUrlPublication" value="http://reach.rssx.hp.com/reach/Workflow/{0}"/>
  <add key="workflowModuleCheckUrlPublication" value="http://reach.rssx.hp.com/reach/Module/{0}"/>
  <add key="workflowAppNamePublication" value="REACH"/>
</appSettings>
