<appSettings>
  <!--<add key="EnableClientAccess.ExceptionDetails" value="true" />-->
  <add key="ElementsCPS.Data.WebAppRootUrl" value="http://localhost/ElementsCPS/WebUI/"/>

  <add key="ElementsCPS.Core.MailMessageSender.SmtpServer" value="smtp3.hp.com"/>
  <add key="ElementsCPS.Core.MailMessageSender.EmailReplyTo" value="ElementsCPS-noreply@hp.com"/>
  <add key="ElementsCPS.Core.MailMessageSender.EmailFrom" value="ElementsCPS.DEMO@hp.com"/>
  <!--<add key="ElementsCPS.Core.MailMessageSender.Debug.RedirectAllMessagesTo" value="nobody@hp.com"/>-->
  <!--<add key="ElementsCPS.Core.MailMessageSender.Debug.RedirectAllMessagesTo" value="justin.webster@hp.com"/>-->
  <add key="ElementsCPS.Core.MailMessageSender.Debug.RedirectAllMessagesTo" value="ElementsCPS.Developers@hp.com"/>
  <!--<add key="ElementsCPS.Core.MailMessageSender.EmailArchiveBcc" value="ElementsCPS.archive@hp.com"/>-->

  <!--Configures the page size of the "paginated Export queries" executed when constructing Export files-->
  <add key="HP.ElementsCPS.WebUI.ExportFileMaxPageSize" value="1000"/>
  <!--Limits the total number of items included in Export files-->
  <add key="HP.ElementsCPS.WebUI.ExportFileMaxRowCount" value="100000"/>

  <!--Sets the maximum cache time for items with a "default" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Default" value="00:05:00"/>
  <!--Sets the maximum cache time for items with a "very short" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.VeryShort" value="00:00:01"/>
  <!--Sets the maximum cache time for items with a "short" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Short" value="00:00:05"/>
  <!--Sets the maximum cache time for items with a "Long" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Long" value="00:15:00"/>

  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.InternalLdapServer" value="ldap.hp.com:389"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapServer" value="ldap.extranet.hp.com:636"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapLogin" value="cn=PSGQC,ou=Applications,o=hp.com"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapPassword" value="%Triplecrown000"/>

  <add key="redirectClientSystemIdValidation" value="REDIRECT_DVS_001"/>
  <add key="redirectServiceUrlValidation" value="http://16.230.32.14:50039/dps/dataPublishingService"/>
  <add key="redirectAppNameValidation" value="REDIRECT"/>

  <add key="redirectClientSystemIdPublication" value="REDIRECT_DEV_001"/>
  <add key="redirectServiceUrlPublication" value="http://16.230.32.14:50038/dps/dataPublishingService"/>
  <add key="redirectAppNamePublication" value="REDIRECT"/>

  <add key="configurationServiceClientSystemIdValidation" value="CFG_SERVICE_DVS_001"/>
  <add key="configurationServiceServiceUrlValidation" value="http://16.230.32.14:50039/dps/dataPublishingService"/>
  <add key="configurationServiceAppNameValidation" value="CONFIG_SERVICE"/>
  <add key="configurationServiceCheckUrlValidation" value="http://16.230.32.14:50041/config-service/validate?config_group_id={0}"/>
  <add key="configurationServiceTrackingServerDomainValidation" value="http://16.230.32.14:50041"/>

  <add key="configurationServiceClientSystemIdPublication" value="CFG_SERVICE_DEV_001"/>
  <add key="configurationServiceServiceUrlPublication" value="http://16.230.32.14:50038/dps/dataPublishingService"/>
  <add key="configurationServiceAppNamePublication" value="CONFIG_SERVICE"/>
  <add key="configurationServiceCheckUrlPublication" value="http://16.230.32.14:50041/config-service/validate?config_group_id={0}"/>
  <add key="configurationServiceTrackingServerDomainPublication" value="http://16.230.32.14:50041"/>

  <!--Creating a new Configuration Service Group will create a default group selector using this name (20 character max)-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.Name" value="Default"/>
  <!--Creating a new Configuration Service Group will create a default group selector using this description-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.Description" value="Default Wildcard Values"/>
  <!--Creating a new Configuration Service Group will use this query parameter name as the default value (empty value will not add a default group selector)-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.QueryParameterValueName" value="*"/>

  <add key="jumpstationClientSystemIdValidation" value="JUMPSTATION_DEV_001"/>
  <add key="jumpstationServiceUrlValidation" value="http://erroj2.americas.hpqcorp.net:50038/dps/ElementsDataPublishingService"/>
  <add key="jumpstationAppNameValidation" value="JUMPSTATION"/>

  <add key="jumpstationClientSystemIdPublication" value="JUMPSTATION_DEV_001"/>
  <add key="jumpstationServiceUrlPublication" value="http://16.230.32.14:50038/dps/dataPublishingService"/>
  <add key="jumpstationAppNamePublication" value="JUMPSTATION_CONTENT"/>

  <add key="workflowModuleUrlValidation" value="http://h20620.www2.hp.com/newbee/modules"/>
  <add key="workflowMainUrlValidation" value="http://h20620.www2.hp.com/newbee/main"/>
  <add key="workflowClientSystemIdValidation" value="REACH_IVS_001"/>
  <add key="workflowServiceUrlValidation" value="http://jerro1.americas.cpqcorp.net:50039/dps"/>
  <add key="workflowCheckUrlValidation" value="http://jerro1.americas.cpqcorp.net:50039/reach/Workflow/{0}"/>
  <add key="workflowModuleCheckUrlValidation" value="http://jerro1.americas.cpqcorp.net:50039/reach/Module/{0}"/>
  <add key="workflowAppNameValidation" value="REACH"/>

  <add key="workflowModuleUrlPublication" value="http://h20620.www2.hp.com/newbee/modules"/>
  <add key="workflowMainUrlPublication" value="http://h20620.www2.hp.com/newbee/main"/>
  <add key="workflowClientSystemIdPublication" value="REACH_IVS_001"/>
  <add key="workflowServiceUrlPublication" value="http://jerro1.americas.cpqcorp.net:50039/dps"/>
  <add key="workflowCheckUrlPublication" value="http://jerro1.americas.cpqcorp.net:50039/reach/Workflow/{0}"/>
  <add key="workflowModuleCheckUrlPublication" value="http://jerro1.americas.cpqcorp.net:50039/reach/Module/{0}"/>
  <add key="workflowAppNamePublication" value="REACH"/>
</appSettings>
