<appSettings>
  <!--<add key="EnableClientAccess.ExceptionDetails" value="true" />-->
  <add key="ElementsCPS.Data.WebAppRootUrl" value="http://localhost/ElementsCPS/WebUI/"/>

  <!--<add key="ElementsCPS.Core.MailMessageSender.EmailFrom" value="smtp3.hp.com"/>-->
  <add key="ElementsCPS.Core.MailMessageSender.EmailReplyTo" value="ElementsCPS-noreply@hp.com"/>
  <add key="ElementsCPS.Core.MailMessageSender.EmailFrom" value="ElementsCPS.DEV@hp.com"/>
  <!--<add key="ElementsCPS.Core.MailMessageSender.Debug.RedirectAllMessagesTo" value="nobody@hp.com"/>-->
  <!--<add key="ElementsCPS.Core.MailMessageSender.EmailArchiveBcc" value="ElementsCPS.archive@hp.com"/>-->

  <!--Configures the page size of the "paginated Export queries" executed when constructing Export files-->
  <add key="HP.ElementsCPS.WebUI.ExportFileMaxPageSize" value="1000"/>
  <!--Limits the total number of items included in Export files-->
  <add key="HP.ElementsCPS.WebUI.ExportFileMaxRowCount" value="100000"/>

  <!--Sets the maximum cache time for items with a "default" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Default" value="00:05:00"/>
  <!--Sets the maximum cache time for items with a "very short" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.VeryShort" value="00:00:01"/>
  <!--Sets the maximum cache time for items with a "short" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Short" value="00:00:05"/>
  <!--Sets the maximum cache time for items with a "Long" cache duration-->
  <add key="HP.ElementsCPS.Cache.AbsoluteExpiration.Long" value="00:15:00"/>

  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.InternalLdapServer" value="ldap.hp.com:389"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapServer" value="ldap.extranet.hp.com:636"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapLogin" value="cn=PSGQC,ou=Applications,o=hp.com"/>
  <add key="HP.ElementsCPS.Data.Utility.PeopleFinder.ExternalLdapPassword" value="%Triplecrown000"/>

  <add key="redirectClientSystemIdValidation" value=""/>
  <add key="redirectServiceUrlValidation" value=""/>
  <add key="redirectAppNameValidation" value=""/>

  <add key="redirectClientSystemIdPublication" value=""/>
  <add key="redirectServiceUrlPublication" value=""/>
  <add key="redirectAppNamePublication" value=""/>

  <add key="configurationServiceClientSystemIdValidation" value=""/>
  <add key="configurationServiceServiceUrlValidation" value=""/>
  <add key="configurationServiceAppNameValidation" value=""/>
  <add key="configurationServiceCheckUrlValidation" value=""/>
  <add key="configurationServiceTrackingServerDomainValidation" value=""/>

  <add key="configurationServiceClientSystemIdPublication" value=""/>
  <add key="configurationServiceServiceUrlPublication" value=""/>
  <add key="configurationServiceAppNamePublication" value=""/>
  <add key="configurationServiceCheckUrlPublication" value=""/>
  <add key="configurationServiceTrackingServerDomainPublication" value=""/>

  <!--Creating a new Configuration Service Group will create a default group selector using this name-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.Name" value="Group Selector (Default)"/>
  <!--Creating a new Configuration Service Group will create a default group selector using this description-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.Description" value="Default Wildcard Values"/>
  <!--Creating a new Configuration Service Group will use this query parameter name as the default value (empty value will not add a default group selector)-->
  <add key="HP.ElementsCPS.WebUI.DefaultValue.GroupSelector.QueryParameterValueName" value="*"/>

  <add key="jumpstationClientSystemIdValidation" value=""/>
  <add key="jumpstationServiceUrlValidation" value=""/>
  <add key="jumpstationAppNameValidation" value=""/>

  <add key="jumpstationClientSystemIdPublication" value=""/>
  <add key="jumpstationServiceUrlPublication" value=""/>
  <add key="jumpstationAppNamePublication" value=""/>

  <add key="workflowModuleUrlValidation" value=""/>
  <add key="workflowClientSystemIdValidation" value=""/>
  <add key="workflowServiceUrlValidation" value=""/>
  <add key="workflowCheckUrlValidation" value=""/>
  <add key="workflowModuleCheckUrlValidation" value=""/>
  <add key="workflowAppNameValidation" value=""/>

  <add key="workflowModuleUrlPublication" value=""/>
  <add key="workflowClientSystemIdPublication" value=""/>
  <add key="workflowServiceUrlPublication" value=""/>
  <add key="workflowCheckUrlPublication" value=""/>
  <add key="workflowModuleCheckUrlPublication" value=""/>
  <add key="workflowAppNamePublication" value=""/>
</appSettings>
