<connectionStrings>
	<!--<add name="ElementsCPSDB" providerName="System.Data.SqlClient" connectionString="server=localhost;database=ElementsCPSDB;Trusted_Connection=yes;MultipleActiveResultSets=true;" />-->

	<!--prod- sql 2008 - old db-->
	<!--<add name="ElementsCPSDB" providerName="System.Data.SqlClient" connectionString="server=gvs81139.auth.hpicorp.net,2048;database=ElementsCPSDB;user id=psgbisuser;password=0*yQ3Ub_7_Ka"></add>-->

	<!--dev local sql 2022 - copy of new db-->
	<add name="ElementsCPSDB" providerName="System.Data.SqlClient" connectionString="server=g7w12340s.inc.hpicorp.net\i02,20480;database=ElementsCPSDB;user id=cps_itg_svc;password=Cpsv@1234"></add>

	<!--prod2022-->
	<!--<add name="ElementsCPSDB" providerName="System.Data.SqlClient" connectionString="server=gvs82061.inc.hpicorp.net\I04,2048;database=ElementsCPSDB;user id=psgbisuser;password=0*yQ3Ub_7_Ka"></add>-->

</connectionStrings>
