<connectionStrings>
	<!--<add name="ElementsCPSDB" providerName="System.Data.SqlClient" connectionString="server=GVS00307.americas.hpqcorp.net\I02,2048;database=ElementsCPSDB;Trusted_Connection=yes;MultipleActiveResultSets=true;" />-->
	<add name="ElementsCPSDB" providerName="System.Data.SqlClient" connectionString="server=g7w12340s.inc.hpicorp.net\i02,20480;database=ElementsCPSDB;user id=cps_itg_svc;password=Cpsv@1234"></add>

</connectionStrings>
