<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
	</configSections>
	<log4net configSource="log4net.config" />
	<SubSonicService configSource="subSonicService.config"/>
	<connectionStrings configSource="connectionStrings.config" />
	<appSettings configSource="appSettings.config" />
</configuration>