<SubSonicService defaultProvider="ElementsCPSDB">
	<providers>
		<clear/>
		<add name="ElementsCPSDB"
			 type="HP.ElementsCPS.Data.SubSonicClient.ElementsCPSSqlDataProvider, HP.ElementsCPS.Data"
			 connectionStringName="ElementsCPSDB"
			 templateDirectory="..\..\..\Dependencies\SubSonic\Templates"
			 generatedNamespace="HP.ElementsCPS.Data.SubSonicClient"
			 removeUnderscores="true"
			 spClassName="StoredProcedures"
			 extractClassNameFromSPName="true"
			 stripTableText=""
			 stripColumnText=""
			 stripSPText="usp"
			 spStartsWith="usp"
			 viewStartsWith=""
			 includeTableList="*"
			 includeProcedureList=""
			 excludeProcedureList="usp_Debug_*"
			 generateLazyLoads="false"
			 generateRelatedTablesAsProperties="false"
			 relatedTableLoadPrefix=""
			 useExtendedProperties="true"
			 additionalNamespaces=""
			 useUtc="true"
			 />
	</providers>
</SubSonicService>
